<div class="section">

<h1>{{pageTitle}}</h1>
<div class="form-container">
<form id="login-form" class="custom-form">
    <label for="email" class="form-input">Email : <input id="email" name="email"></label>  <br />
    <label for="password" class="form-input">Contraseña: <input id="password" type="password" name="password"></label>
    <button type="submit" class="form-input input-submit">Login</button>
</form>
<p style="color: #fff;">¿No estás registrado? <a href="/register" style="color: #b8d56e;">Regístrate aquí</a></p>
</div>
<script src="/js/login.js"></script>
</div>